.manual-layout{
display:flex;
gap:30px;
}

.manual-left{
width:30%;
background:#fff;
padding:25px;
border-radius:10px;
}

.manual-right{
width:70%;
background:#fff;
padding:25px;
border-radius:10px;
}

.upload-box{
height:150px;
border:2px dashed #ccc;
display:flex;
align-items:center;
justify-content:center;
margin-bottom:20px;
}

textarea{
width:100%;
padding:10px;
}

.form-actions{
margin-top:20px;
text-align:right;
}